{{ define "inventory-add" }}
{{ template "pageHead" }}
<body>
{{ template "pageMenu" }}
<main class="container">

  <div class="my-3 p-3 bg-body rounded shadow-sm">
    <div class="border-bottom row">
      <div class="col-8">
        <h2>New Item</h2>
      </div>
    </div>

    <div class="d-flex text-muted pt-3">
      <form enctype="multipart/form-data" action="/inventory/add" method="post">
        <div class="form-group">
          <label for="name">SKU</label>
          <input type="text" class="form-control" name="sku" placeholder="Item SKU">
        </div>
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" name="name" placeholder="Item Name">
        </div>
        <div class="form-group">
          <label for="name">Type</label>
          <input type="text" class="form-control" name="type" placeholder="Item Type">
        </div>
        <div class="form-group">
          <label for="name">Value</label>
          <input type="text" class="form-control" name="value" placeholder="Item Value">
        </div>
        <div class="form-group">
          <label for="name">Size</label>
          <input type="text" class="form-control" name="size" placeholder="Item Size">
        </div>
        <div class="form-group">
          <label for="name">Quantity</label>
          <input type="text" class="form-control" name="quantity" placeholder="Item Quantity">
        </div>
        <div class="form-group">
          <label for="name">Price</label>
          <input type="text" class="form-control" name="price" placeholder="Item Price">
        </div>
        <div class="form-group">
          <label for="name">Location</label>
          <input type="text" class="form-control" name="location" placeholder="Item Location">
        </div>
        <div class="form-group">
          <label for="picture">Picture</label>
          <img id="preview" alt="preview image" class="form-control"
            style="width:200px; height:200px; object-fit: cover;
            margin:auto; vertical-align:middle;"
            src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mMU+g8AASkBE945rRMAAAAASUVORK5CYII="/>

          <input type="file" class="form-control" accept="image/*" capture required id="image" name="image"
            onchange="document.getElementById('preview').src =
            window.URL.createObjectURL(this.files[0])">
        </div>
        <button type="submit" class="btn btn-primary">Add</button>
        <a href="/inventory" class="btn btn-secondary">Cancel</a>
      </form>
    </div>
  </div>
</main>

{{ template "pageFoot" }}
</body>
</html>
{{ end }}
